= form_for(@article) do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :author_name
    %br/
    -# = this collection select method will not save to the database.
    -# = an error is therefor thrown that the author name can't be blank.
    = collection_select :article, :author_id, Author.all, :id, :name
    %br/
  .field
    = f.label :body
    %br/
    = f.text_area :body
  = f.label :creation_date
  %br/
  = f.text_field :creation_date
  .actions
    = f.submit